# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)

# docs
lazydocs
mkdocs-material
pymdown-extensions
mkdocs-awesome-pages-plugin
mkdocs

# test
pytest
pytest-cov
pytest-asyncio
coveralls
freezegun

# build
twine
pip-tools

# lint
pre-commit
pylint
mypy
